<!DOCTYPE html>
<html>
<head>
    <title>Homework 2 - SignUp</title>

    {% include "_header.html" %}
</head>


<h1 class="text-center">Update Password</h1>
<div class="text-center"><a href="/" class="">back</a></div>
<body class="container">
    <div class="text-center">
        {% include "_flash.html" %}
    </div>
    <div class="form-signin" style="">
        <form method="post">

            <div class="form-group">
                <b><label for="password">Password</label></b>
                <input type="password" name="password" class="form-control" placeholder="password">
            </div>


            <div class="form-group">
                <b><label for="c_password">Confirm Password</label></b>
                <input type="password" name="c_password" class="form-control" placeholder="confirm password">
            </div>

            <input type="submit" name="auth" value="Update Password" class="btn btn-primary mt-2">
        </form>
    </div>
</body>
</html>