<!DOCTYPE html>
<html>
<head>
    <title>Homework 2 - SignUp</title>

    {% include "_header.html" %}
</head>


<h1 class="text-center">Update Profile</h1>
<div class="text-center"><a href="/" class="">back</a></div>

<body class="container">
    <div class="text-center">
        {% include "_flash.html" %}
    </div>
    <div class="form-signin" style="">
        <form method="post" enctype="multipart/form-data">

            <div class="form-group">
                <b><label for="fullname">Profile photo</label></b>
                <input type="file" name="file">
            </div>

            <div class="form-group">
                <b><label for="fullname">Full Name</label></b>
                <input type="text" name="fullname" class="form-control" placeholder="fullname" value="{{data.fullname}}">
            </div>

            <div class="form-group">
                <b><label for="designation">Designation</label></b>
                <input type="text" name="designation" class="form-control" placeholder="designation" value="{{data.designation}}">
            </div>

            <input type="submit" name="auth" value="Update" class="btn btn-primary mt-2">
        </form>
    </div>
</body>
</html>